.tour-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    padding: 10px;
    margin: 20px;
}

.tour-item {
    background-color: #f8f8f8;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.tour-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tour-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.tour-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tour-info {
    padding: 15px;
}

.tour-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.tour-info p {
    font-size: 1rem;
    margin-bottom: 5px;
}

.tour-item:hover .tour-info {
    opacity: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
}

.arrow img {
    width: 30px;
    height: auto;
}

.arrow:hover {
    transform: scale(1.1);
}

.tour-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


.pagination-arrow img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.pagination-arrow:hover {
    transform: scale(1.1);
}

.pagination-arrow:hover img {
    opacity: 1;
}

.tour-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
